*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

.menu-icon{
    max-width: 3rem;
    color: aliceblue;
    cursor: pointer;
}

nav{
    background-color: black;
    padding: 1rem;
    
}

header a{
    color: rgb(0, 0, 0);
}

.head{
    position: relative;
}

.dropdown{
    position: absolute;
    padding: 1rem;
    background-color: aliceblue;
    top: 100%;
}

.dropdown a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 3rem;
    align-items: center;
    border: 1px solid black;
    width: 15rem;
}

.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.head{
    border-bottom: 2px solid rgba(255, 255, 255, 0.479);
    border-top: 2px solid rgba(255, 255, 255, 0.479);
    padding: 1rem;
    margin: 0;
    width: 100%;
}

.web-logo{
    color: aliceblue;
}

.web-logo img{
    max-width: 20rem;
    float: right;
}
.search-icon{
    stroke: aliceblue;
    max-width: 3rem;
    float: right;
    padding-right: 1rem;

}

.account-icon{
    stroke: aliceblue;
    max-width: 3rem;
    float: right;
    padding-right: 0.5rem;
}

.nav-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*
.accout{
    padding-left: -2rem;
} */

main{
    background-color: rgba(rgb(191, 191, 191, 0.2));
}

 